# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
ENV/

# JetBrains IDEs
.idea/

# Operating System
.DS_Store
Thumbs.db
